{% extends 'base.html' %}

{% block body %}
{% if num>1: %}
<!--<h5 >{{count}}/{{num-1}} correct</h5>-->
<!--<container class="row justify-content-md-center">-->
<div class="progress ">
  <div class="progress-bar" role="progressbar" style="width: {{(count/(num-1))*100}}%"  aria-valuenow="{{count/(num-1)}}" aria-valuemin="0" aria-valuemax="100">{{count}}/{{num-1}} correct</div>
</div>
<!--</container>-->
{% else %}
<div class="pt-2"><p> </p></div>
{% endif %}
<div class="row justify-content-md-center pt-4">
<span class="fw-light col-md-1 mx-1">Question {{num}}:</span>  <span class="col-md-8 fw-bold"> {{question}}</span>
</div>
<div class="row justify-content-md-center">
<hr class="col-md-6 px-2">
</div>
<form action="{{url_for('start',ques= num+1)}}" method="POST" >
{% for i,a in options.items(): %}

        <container class="row justify-content-md-center justify-content-sm-center  pt-2 ">
        <span class=" col-md-6 col-sm-10 col-xs-6">   {{i}}: {{a}}</span>
        <input class="col-md-1 col-sm-2 col-xs-6" name={{i}} style='max-width:27px' type="checkbox">
        </container>

{% endfor %}

<container class="row justify-content-center pt-3" >
    <input   class="col-md-3 col-sm-3 col-xs-3 btn btn-secondary" type="submit" value="Submit Answer">
</container>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <h5 style="color: green">{{message}}</h5>
    {% endfor %}
  {% endif %}
{% endwith %}


{% endblock %}